body, label, select, button, table {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    color: #ba0070; 
}

.btn-primary {
    background-color: #ba0070;
    border: 1px solid #ba0070; 
}

.btn-primary:hover {
    background-color: #8a0052;
    border: 1px solid #8a0052; 
}

.navbar {
    background-color: #ba0070;
    color: #ffffff;
    border-bottom: 1px solid #ba0070
}
#resultados {
    margin-top: 20px;
}

.resultado {
    border: 1px solid #ba0070;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f9fa; 
}

.resultado p {
    margin: 0;
}

#resultados {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(186, 0, 112, 0.5); 
    border-radius: 8px;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ba0070;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ba0070;
    color: #ffffff;
    border: 1px solid #ba0070;
    padding: 10px;
    text-align: left;
    position: sticky;

}

td {
    border: 1px solid #ba0070;
    padding: 10px;
    text-align: left;
}

th:not(:last-child),
td:not(:last-child) {
    border-right: 1px solid #ffffff;
}
select {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tipoComprobante {
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(186, 0, 112, 0.5); 
}


label {
    color: #000000; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.footer {
    background-color: transparent;
    color: #000000;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ba0070; 
    margin-top: 20px; 
}
.footer a {
    color: #000000;
}


.container-main {
    margin-right: 15px; 
    margin-left: 15px; 
}


